<div class="principal-container">
    <mat-card class="form-principal">

        <mat-card-content *ngIf="ssocial">
            <form [formGroup]="formaSsocial" (ngSubmit)="guardar()" class="form-container">

                <div class="row">
                    <mat-form-field class="w-50">
                        <input formControlName="obrasocial" matInput placeholder="Obra Social">
                    </mat-form-field>
    
                    <mat-form-field class="w-50">
                        <input formControlName="nafiliado" matInput placeholder="Nro. Afiliado">
                    </mat-form-field>
                </div>

                <div class="row">
                    <button mat-raised-button color="primary" *ngIf="!ver" class="w-50">
                        <mat-icon class="toolbar-icon" aria-hidden="false" aria-label="Guardar icon">save</mat-icon>
                        Guardar
                      </button>

                    <button type="button" mat-raised-button color="accent" *ngIf="!ver" class="w-50" (click)="cancelar()">
                        <mat-icon class="toolbar-icon" aria-hidden="false" aria-label="Cancelar icon">cancel</mat-icon>
                        Cancelar
                    </button>
                </div>

            </form>

        </mat-card-content>

    </mat-card>

</div>