.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.toolbar-icon {
    padding: 0 14px;
    display: flex;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.mat-cell,
.mat-footer-cell {
    font-size: 13px !important;
}