<div class="main-container" [class.main-is-mobile]="mobileQuery.matches">

    <mat-toolbar color="primary" class="main-toolbar">

        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="main-app-name">{{title}}</h1>

    </mat-toolbar>

    <mat-sidenav-container class="main-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

            <app-sidebar></app-sidebar>

        </mat-sidenav>

        <mat-sidenav-content class="page-container">

            <router-outlet></router-outlet>

        </mat-sidenav-content>

    </mat-sidenav-container>

    <footer>
        <p>Desarrollado por SOFTWERD</p>
    </footer>

</div>