<div class="principal-container">
  <mat-card class="form-principal">

      <mat-card-header *ngIf="area">
          <!-- <img mat-card-avatar [src]="usuario.img | imagen"> -->
          <mat-card-title *ngIf="area">{{ area.area }}</mat-card-title>
          <!-- <mat-card-subtitle *ngIf="usuario">{{ usuario.email }} </mat-card-subtitle> -->
          <span class="toolbar-spacer"></span>
      </mat-card-header>

      <mat-card-content *ngIf="area">
          <form [formGroup]="forma" (ngSubmit)="guardar()" class="form-container">

              <mat-form-field>
                  <input formControlName="area" matInput placeholder="Área">
                  <mat-error *ngIf="forma.controls.area.invalid">{{ error.campovacio }}</mat-error>
              </mat-form-field>

              <mat-form-field>
                  <input formControlName="observaciones" matInput placeholder="Observaciones">
              </mat-form-field>

              <div class="w-100">
                  <button mat-raised-button color="primary" *ngIf="!ver" class="w-50 mr-2">
                  <mat-icon class="toolbar-icon" aria-hidden="false" aria-label="Guardar icon">save</mat-icon>
                  Guardar
              </button>

                  <button type="button" mat-raised-button color="accent" *ngIf="!ver" class="w-50" (click)="cancelar()">
                  <mat-icon class="toolbar-icon" aria-hidden="false" aria-label="Cancelar icon">cancel</mat-icon>
                  Cancelar
              </button>
              </div>

          </form>
      </mat-card-content>

      <div class="w-100">
          <button mat-raised-button color="primary" *ngIf="ver" (click)="editarArea()" class="w-50 mr-2">
          <mat-icon class="toolbar-icon" aria-hidden="false" aria-label="Editar icon">edit</mat-icon>
           Editar
      </button>
          <button mat-raised-button color="accent" *ngIf="ver" (click)="imprimirArea()" class="w-50">
          <mat-icon class="toolbar-icon" aria-hidden="false" aria-label="Imprimir icon">print</mat-icon>
          Imprimir
      </button>
      </div>


  </mat-card>

</div>