<mat-spinner *ngIf="cargando" style="margin: auto"></mat-spinner>

<mat-card *ngIf="!cargando" style="height: 1200px;">
  <mat-toolbar class="color-bck-turnos">
    <div class="toolbar-turnos">
      <div class="toolbar-turnos-title">
        <mat-toolbar-row>
            <span>Turnos del {{ fecha | date: "EEEE dd-MM-yyyy" }}</span>
        </mat-toolbar-row>
      </div>
          
          <div class="toolbar-turnos-title">
            <mat-toolbar-row class="toolbar-turnos-tools">
            <button
              type="button"
              mat-raised-button
              (click)="hoy()"
              matTooltip="Ver turnos de hoy"
            >
              Hoy
            </button>
            <div>
              <button
                mat-mini-fab
                color="accent"
                (click)="diaAnterior()"
                matTooltip="Día anterior"
              >
                <mat-icon aria-hidden="false" aria-label="ayer icon">
                  keyboard_arrow_left
                </mat-icon>
              </button>
              <mat-form-field style="width: 0px">
                <input
                  matInput
                  [matDatepicker]="picker"
                  placeholder="Choose a date"
                  (dateChange)="cambiarFecha($event)"
                />
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <button
                mat-mini-fab
                color="accent"
                (click)="picker.open()"
                matTooltip="Seleccionar fecha"
              >
                <mat-icon aria-hidden="false" aria-label="ayer icon">
                  calendar_today
                </mat-icon>
              </button>
              <button
                mat-mini-fab
                color="accent"
                (click)="diaSiguiente()"
                matTooltip="Día siguiente"
              >
                <mat-icon aria-hidden="false" aria-label="mañana icon">
                  keyboard_arrow_right
                </mat-icon>
              </button>
            </div>
            <button
              mat-mini-fab
              color="warn"
              (click)="nuevo()"
              class="ml-5px"
              matTooltip="Crear Turno"
            >
              <mat-icon aria-hidden="false" aria-label="nuevo icon">
                today
              </mat-icon>
            </button>
            <button
              mat-mini-fab
              color="default"
              (click)="imprimir()"
              matTooltip="Imprimir Turnos"
            >
              <mat-icon aria-hidden="false" aria-label="print icon">
                print
              </mat-icon>
            </button>
          </mat-toolbar-row>
        </div>
      
    </div>
  </mat-toolbar>

  <mat-card-content>
    <div id="turnos">
      <div *ngFor="let column of columns"
           class="turno-column"
           [ngStyle]="{ width: widthColumnE }"
           [id]="column.id">

           <div class="turnos-card turnos-card-prof">
            <div class="row">
              <div class="col-4">
                <img [src]="column.head.img | imagen" class="turnos-thunb"/>
              </div>
              <div class="col-8">
                {{ column.head.apellido }} {{ column.head.nombre }}
              </div>
            </div>
           </div>

           <div class="turnos-detalle" [ngClass]="{ 'width': widthColumnD}">
             <!-- <ng-content #name  style="width: -webkit-fill-available;"> -->

               <div *ngFor="let turno of column.turnos" class="turnos-card turnos-card-pac" [ngClass]="turno.estilo"
                 [ngStyle]="{'height': turno.duracion * 2 + 'px', 'max-height': turno.duracion * 2 + 'px', 'top': turno.top, 'width': widthColumnD}" style="position: absolute">
                 <div class="row turnos-card-pac-title pointer" (click)="editarTurno(turno)">
                   <div class="col-12 text-center">
                     {{turno.horaInicio}}
                   </div>
                 </div>
                 <div class="row turnos-card-pac-content" [ngStyle]="{'height': turno.duracion * 2 - 20 + 'px'}" *ngIf="turno.paciente">
                  <div class="col-3">
                    <img [src]="turno.paciente.img | imagen" class="turnos-thunb-pac"/>
                  </div>
                  <div class="col-8">
                    {{ turno.paciente.apellido }} {{ turno.paciente.nombre }}
                  </div>
                  <div class="col-1 turnos-card-pac-content-menu ">
                    <mat-icon [matMenuTriggerFor]="menuTurno" class="pointer">more_vert</mat-icon>

                    <mat-menu #menuTurno="matMenu">
                      <button mat-menu-item color="warn" aria-label="Eliminar turno" (click)="eliminarTurno(turno)">
                        <mat-icon>delete</mat-icon>
                      </button>
                      <button mat-menu-item color="warn" aria-label="Turno realizado" (click)="marcarRealizado(turno)">
                        <mat-icon>done</mat-icon>
                      </button>
                    </mat-menu>
                  </div>
                 </div>
               </div>

             <!-- </ng-content> -->
             
              <!-- <app-card-turno [turno]="t" (actualizar)="cargarTurnos($event)"
               *ngFor="let t of column.turnos" style="width: -webkit-fill-available;">
              </app-card-turno> -->
           </div>
           
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- <app-add-turno></app-add-turno> -->
