<mat-spinner *ngIf="cargando" style="margin: auto"></mat-spinner>

<mat-card>

    <mat-toolbar class="color-bck-profesionales" *ngIf="!cargando">
        <mat-toolbar-row>
            <span>Personal</span>
            <span class="toolbar-spacer"></span>
            <button mat-icon-button (click)="csvLista()">
                <mat-icon class="toolbar-icon" aria-hidden="false" aria-label="CSV icon">
                    <i class="fas fa-file-archive"></i>
                </mat-icon>
            </button>
            <button mat-icon-button (click)="copiarLista()">
                <mat-icon class="toolbar-icon" aria-hidden="false" aria-label="Copiar icon">file_copy</mat-icon>
            </button>
            <button mat-icon-button (click)="exportarPdf()">
                <mat-icon class="toolbar-icon" aria-hidden="false" aria-label="Export Pdf icon">
                    <i class="fas fa-file-pdf"></i>
                </mat-icon>
            </button>
            <button mat-icon-button (click)="imprimir()">
                <mat-icon class="toolbar-icon" aria-hidden="false" aria-label="Imprimir icon">print</mat-icon>
            </button>
            <button mat-icon-button (click)="crearNuevoEmpleado()" color="accent">
                <mat-icon class="toolbar-icon" aria-hidden="false" aria-label="Nuevo Paciente icon">person_add</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-card-content>
        <div class="row" *ngIf="!cargando">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
            </mat-form-field>
        </div>

        <mat-table [dataSource]="dataSource" matSort *ngIf="!cargando">

            <ng-container matColumnDef="imagen">
                <mat-header-cell *matHeaderCellDef> Foto </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <img [src]="element.img | imagen" class="foto-sm">
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="apellido">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.apellido }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.nombre }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="nro_doc">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Nro. Doc. </mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.nro_doc }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="fecha_nac">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Nacimiento </mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.fecha_nac | date: "dd-MM-yyyy"}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="area">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Area </mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.profesion[0].area }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="ver(element)">
                        <mat-icon class="toolbar-icon" aria-hidden="false" aria-label="Ver icon">remove_red_eye</mat-icon>
                    </button>
                    <button mat-icon-button (click)="editar(element)">
                        <mat-icon class="toolbar-icon" aria-hidden="false" aria-label="Editar icon">edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="eliminar(element)">
                        <mat-icon class="toolbar-icon" aria-hidden="false" aria-label="Eliminar icon">delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </mat-card-content>

</mat-card>